* {
	font-size: 16px;
	text-align: center;
	font-family: 'Press Start 2P', monospace;

	color: white;
	background-color: #0d0d0d;
}

body {
	display: flex;
}

#grid {
	display: grid;
	grid-template-columns: 24px 24px 24px 24px 24px 24px 24px 24px 24px 24px 24px 24px 24px 24px 24px 24px 24px 24px 24px 24px 24px 24px 24px 24px 24px;
	grid-template-rows: 24px 24px 24px 24px 24px 24px 24px 24px 24px 24px 24px 24px 24px 24px 24px 24px 24px 24px 24px 24px 24px 24px 24px 24px 24px;
}

.cell {
	border-style: solid;
	border-color: rgba(255, 255, 255, 0.15);
	border-width: 1px;
	border-radius: 0px;
	height: 1.3rem;
	width: 1.3rem;
	display: flex;
	justify-content: center;
	align-items: flex-end;

	animation: fadeCell 1s;
}

.bloody {
	color: red;
}

.gooey {
	color: greenyellow;
}

.wet {
	color: lightseagreen;
}

#container {
	width: 100%;
	min-height: 100%;
	padding: 1rem;
	border-style: solid;
	border-color: rgb(255, 255, 255);
	border-width: 1px;
	border-radius: 0px;

	margin-left: 1rem;
}

.internal-container {
	border-style: solid;
	border-color: rgb(255, 255, 255);
	border-width: 1px;
	border-radius: 0px;

	height: 25%;

	display: flex;
	flex-direction: column;
}

.stats-ui {
	font-size: 14px;
	text-align: center;
	margin-top: 0.25rem;
}

.equipment-ui {
	font-size: 14px;
	text-align: center;
	margin-top: 0.25rem;
}

#health-ui {
	color: red;
}

#hunger-ui {
	color: greenyellow;
}

#thirst-ui {
	color: lightseagreen;
}

#sanity-ui {
	color: purple;
}

@keyframes fadeCell {
	0% {
		border-color: rgba(255, 255, 255, 0.3);
		background-color: rgba(255, 255, 255, 0.3);
	}

	100% {
		border-color: rgba(255, 255, 255, 0.15);
		background-color: rgba(255, 255, 255, 0);
	}
}
